<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Manage <b>Novels</b></h2>
          </div>
          <div class="col-sm-6">
            <a href="#addNovelModal" class="btn btn-success" data-toggle="modal"
              ><i class="material-icons">&#xE147;</i>
              <span>Add New Novel</span></a
            >
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>
              <span class="custom-checkbox">
                <input type="checkbox" id="selectAll" />
                <label for="selectAll"></label>
              </span>
            </th>
            <th>Name</th>
            <th>Description</th>
            <th>Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Novels">
            <td>
              <span class="custom-checkbox">
                <input
                  type="checkbox"
                  id="checkbox1"
                  name="options[]"
                  value="1"
                />
                <label for="checkbox1"></label>
              </span>
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.rate }}</td>
            <td>
              <a href="#editNovelModal" class="edit" data-toggle="modal"
                ><i
                  class="material-icons"
                  (click)="editNovel(item)"
                  data-toggle="tooltip"
                  title="Edit"
                  >&#xE254;</i
                ></a
              >
              <a href="#deleteNovelModal" class="delete" data-toggle="modal"
                ><i
                  (click)="deleteNovel(item)"
                  class="material-icons"
                  data-toggle="tooltip"
                  title="Delete"
                  >&#xE872;</i
                ></a
              >
            </td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>
</div>
<app-add-novel #AddNovel (updated)="updated()"></app-add-novel>
<app-edit-novel [novel]="NovelTobeEdited" (updated)="updated()"></app-edit-novel>
<app-delete-novel [novel]="NovelTobeDeleted"  (updated)="updated()"></app-delete-novel>
